
.has-fade {
    visibility: hidden;
}

.fade-in {
    animation: fade-in 300ms ease-in forwards;
}

@keyframes fade-in {
    0% {
        visibility: hidden;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}

.fade-out {
    animation: fade-out 300ms ease-in-out forwards;
}

@keyframes fade-out {
    0% {
        visibility: visible;
        opacity: 1;
    }

    100% {
        visibility: hidden;
        opacity: 0;
   
    }
}


body.noscroll {
    overflow: hidden;
  }
  